/*Design Scheme=null */

/***********

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
Import/common/reset.css
************/
html{
    background-color: #FFFFFF;
}
body .md,
.md input, 
.md select, 
.md textarea,
.md button{
    font-family: Arial, sans-serif;
    color: #000000;
}
.md a{
    color: #0957A4;
}
.md a:hover{
    color: #0B2A73;
}
.md table, 
.md td, 
.md th{
    border-color: #FFFFFF;
    background-color: #E7E7E7;
    color: #000000;
}
/***********
following rules are not associated to any file, just branding.
************/
.md tr.header,
.md tr.header td, 
.md tr.header th, 
.md thead tr, 
.md thead td, 
.md thead th,
.md tfoot th,
.md tfoot td{
	 background-color: #E7E7E7;
	 color: #000000;
}
.md tr.header td a, 
.md tr.header th a, 
.md thead td a, 
.md thead th a,
.md tfoot th a,
.md tfoot td a{
	 color: #000000;
}
.md tr.odd,
.md tr.odd td, 
.md tr.odd th{
    background-color: #FFFFFF;
    color: #000000;
}
.md tr.evenSelected,
.md tr.evenSelected td,
.md tr.evenSelected th,
.md table.noStripeUnselected tr.evenSelected,
.md table.noStripeUnselected tr.evenSelected td,
.md table.noStripeUnselected tr.evenSelected th{
    background-color: #BBBBBB;
    color: #000000;
}
.md tr.oddSelected,
.md tr.oddSelected td,
.md tr.oddSelected th{
    background-color: #BBBBBB;
    color: #000000;
}
.md table tr.newRow {
    background-color: #E7E7E7;
}
/***********
Import/common/layout.css
************/
.md div.outerWarning {
	border-color: #FFE5A0;
	background-color: #FEF3D5;
	color: #000000;
}
div.colContainer{
    /*background-color: #FFFFFF;*/
    border-top-color: #003366;
}
div.header{
    background: transparent url(../gif/mastheadphoto%24v%40201708050100.gif) no-repeat;
    border-bottom-color: #FFFFFF;
}
div.footer{
    background-color: #FFFFFF;
}
/***********
Import/common/containerTreatment.css
************/
.md .block_highlight_light{
	 background-color: #E0E0E0;
}
.md .block_highlight_dark{
	 background-color: #ABABAB;
}
.md .block_marker:before{
	border-top: 8px solid #003366;
}
/***********
Import/common/contentTreatment.css
************/
.md h2 .loading{
    color: #E0E0E0;
}
.md h3 .loading{ 
    color: #3D3D3D;
}
.md .modal .loading{
    color: #3D3D3D;
}
.md .portlets .loading{
    color: #3D3D3D;
}
.javascript p.selected,
.javascript span.selected,   
.javascript h2.selected,     
.javascript h3.selected{
    background: transparent url(../gif/bullet_arrow_down.gif) no-repeat scroll left top;
}
.javascript p.unselected,
.javascript span.unselected,     
.javascript h2.unselected,   
.javascript h3.unselected{
    background: transparent url(../gif/bullet_arrow_right.gif) no-repeat scroll left top;
}
.md div.hr{
    background-color: #3D3D3D;
}
.header h2{
    color: #333333;
    width: 300px;
}
.header h2 a{
    color: #333333;
}
.contentTitle h1,
h1#PageTitle,
.content h1,
h2.dynamicPageTitle,
.Online .sfHead h2/*md sf forms*/,
.Online .end h2/*md sf forms receipt*/{
    border-bottom-color: #333333;
    color: #3D3D3D;
}
.mainContent h2{
    color: #3D3D3D;
}
.footer .copy a{
    color: #FFFFFF;
}
/*document list*/
.documentlist li{
    background-color: #FFFFFF;
    border-color: #ABABAB;
}
.documentlist h5{
    background-color: #ABABAB;
    border-color: #ABABAB;
    color: #333333;
}
.documentlist h5 a{
    color: #333333
}
.pdf h5{
    background-image: url(../gif/pdf%24v%40201708050100.gif);
}
.txt h5{
    background-image: url(../gif/txt%24v%40201708050100.gif);
}
.doc h5{
    background-image: url(../gif/doc%24v%40201708050100.gif);
}
/*content promo*/
.md .promo{
    background-color: #E0E0E0;
}
.promo h3{
    color: #3D3D3D;
}
.errorText{
	color: #EF3024;
}
.secondaryInfo{
    color: #555555;
}
.alert{
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    color: #333333;
}
.contentCalltoaction{
    background-color: #EFEFEF;
    background-image: url(../gif/context1%24v%40201708050100.gif);
    border-color: #D2D2D2;
}
.contentCalltoaction a{
    color: #3D3D3D;
}

div a.callOutAction{
	background: #3D3D3D;
	border-top-color: #3D3D3D;
	border-right-color: #3D3D3D;
	border-bottom-color: #3D3D3D;
	border-left-color: #3D3D3D;	
	color: #FFFFFF !important;
	float: left;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}
div a.callOutAction:hover{
	background: #898989;
	border-top-color: #3D3D3D;
	border-right-color: #3D3D3D;
	border-bottom-color: #3D3D3D;
	border-left-color: #3D3D3D;	
	color: #FFFFFF;
	text-decoration: none;	
}
a.urgentMessage{
    color: #3D3D3D;
}
a.reminderMessage{
    color: #3D3D3D;
}
a.personalMessage{
    color: #3D3D3D;
}
a.mailMessage{
    color: #3D3D3D;
}
a.ebillMessage{
    color: #3D3D3D;
}
a.mdsbMessage{
    color: #3D3D3D;
}
.disclaimer{                         
    color: #333333;
}
/*charts*/
.chart_legend_scheme0:before{
    background-color: #3366CC;
}
.chart_legend_scheme1:before{
    background-color: #DC3912;
}
.chart_legend_scheme2:before{
    background-color: #FF9900;
}
.chart_legend_scheme3:before{
    background-color: #109618;
}
.chart_legend_scheme4:before{
    background-color: #990099;
}
.chart_legend_scheme5:before{
    background-color: #0099C6;
}
.md .asOfDate{
    color: #999;
}
.md div.formActions{
    border-color: #333333;
}
/***********
Help Hint
***********/
div.helpHint{
	background-color: #F1F1F1;
	border-color: #797A7A;
	color: #333333;
}
span.hint{
	color:  #333333;
}
/**********************
/Style/Import/nav/navGlobal.css
***********************/
ul.global li{
    border-bottom-color: #0B2A73;
}
ul.global li a{
    color: #0B2A73;
}
ul.global li.current a{
    color: #0B2A73;
}
ul.global li a:hover{
    color: #0B2A73;
}
/**********************
/Style/Import/nav/navUtilities.css
***********************/
div.utilities{
    border-bottom-color: #000000;
}
ul.utilities li a{
    color: #0957A4;
}
ul.utilities li.current a{
    background-color: #003366;
    color: #FFFFFF;
}
ul.utilities li a:hover{
    background-color: #003366;
    color: #FFFFFF;
}
/**********************
/Style/Import/nav/navOnline.css
***********************/
div.online{
    background-color: #FFFFFF;
    border-bottom-color: #003366;
    border-left-color: #003366;
    border-right-color: #003366;
}
ul.online li a{
    background-color: #0957A4;
    border-color: #000000;
    color: #FFFFFF;
}
ul.online li.current a{
    background-color: #003366;
    border-color: #000000;
    color: #FFFFFF;
}
ul.online li a:hover{
    background-color: #003366;
    border-color: #000000;
    color: #FFFFFF;
}
/***********
Import/nav/navBreadcrumb.css
************/
div.breadcrumb{
    color: #FFFFFF;
}
ul.breadcrumb li{
    background-image: url(../gif/crumbmarker%24v%40201708050100.gif);
}
/**********************
/Style/Import/nav/navContextual.css
***********************/
ul.context li,
ul.context li a{
    background-color: #0957A4;
    border-top-color: #FFFFFF;
    color: #FFFFFF;
}
ul.context li.self a,
ul.context li a:hover{
    background-color: #003366;
    color: #FFFFFF;
}
ul.context li.self li a{
    background-color: #0957A4;
    color: #FFFFFF;
}
ul.context li.self li a:hover{
    background-color: #003366;
    color: #FFFFFF;
}
/**********************
/Style/Import/nav/navTopic.css
***********************/
ul.topic li{
   background-image: url(../gif/globalmarker%24v%40201708050100.gif);
}
ul.topic li a{
    color: #0957A4;
}
ul.topic li a:hover{
    color: #0B2A73;
}
/**********************
/Style/Import/portlet/portletGeneral.css
***********************/
div.portlet{
    background-color: #FFFFFF;
    color: #FFFFFF;
}
.portlet a{
    color: #FFFFFF;
}
.portlet a:hover{
    color: #CDCDCD;
}
/**********
/Style/Import/portlet/portletLogin.css
***********/
.loginPortlet .authentication{
    background-color: #E7E7E7;
    border-color: #CDCDCD;
    color: #000000;
}
/******
Import/brand/formMD.jsp
*******/

    

/****** 
Import/form/formGeneral.css
*******/
p.reqNote{/*required message*/
    color: #f00;
}
form.sf h3 a,
form.sf h3 a:hover{/*section headers*/
    color: #ACACAC;
}
form.sf h3{/*section headers*/
    color: #ACACAC;
    background-color: #3D3D3D;
}
.sf .sfData{/*section containers*/
    background-color: #EFEFEF;
    color: #333333;
}
form.sf s,
.required label s{/*asterisk*/
    color: #FF0000;
}
.md .hint,
.md .hint a, /*added for mobile hint link*/
.md .sfGroupHint{/*hint*/
    color: #333333;
}
.md .formData .hint,
.md .formData .hint a{
    color: #333333;
}
.locatorportlet .hint{ /* added for ATM/Branch Locator login portlet hint */
    color: #333333;
}
.formGroup .hint{ /* added for Account Activity date range hints */
    color: #333333;
}
.md .learn a,
.md .learn{/*learn more hint*/
    color: #333333;
}
.r .repeatBreak hr{
    color: #3D3D3D;
    background-color: #3D3D3D;
}
form.sf table.signature{/* Form Signature */
    border-color: #3D3D3D;
}
.sf .sfHalo{/*Buttons*/
    background-color: #3D3D3D;
}
/*Confirmation Edit Button*/
form.sf h3 input.edit, form.sf h2 input.edit{
    font-family: Arial, sans-serif;
    color: #333333;
}
form.sf .confirmStep{
    border-color: #3D3D3D;
}
/*Alerts inside standard forms*/
form.sf .r .buttons .alert{
    color: #333333;
    border: 1px solid #FF0000;
}
.md div.formActions{
	border-color: #333333;
}
.md .formActions ul li.formCancel,
.md .formActions ul li.formEdit{
	background-image: url(../gif/pipe.gif);
}
/*************
Import/form/formProgessSteps.css
*************/
.md .sfProg{
    background-color: #ACACAC;
    color: #3D3D3D;
    border-color: #3D3D3D;
}
.sfProg .num{
    border-color: #3D3D3D;
    color: #3D3D3D;
}
.sfProg .cur .num{
    background-color: #3D3D3D;
    color: #ACACAC;
}
/**********
Import/form/formsErrorMessage.css
***********/
.sf .sfErrorBlock,
div.errors{
    background-color: #FFFFFF;
    background-image: url(../gif/errors.gif);
    border-color: #FF0000;
    color: #FF0000;
    background-repeat: no-repeat;
}
.modal .sf .sfErrorBlock,
.modal div.errors{
    background-color: #FFFFFF;
}
.sf .sfErrorBlock a,
div.errors a{
    color: #3D3D3D;
}

/**********
Import/form/formFieldsets.css
***********/
form.outline_errors .requirederror input{
    border-color: #FF0000;
}
/**********
Import/form/formFieldsetsStd.css
***********/
form.sf .r .errBorder .ctr{
    border-color: #FF0000;
}
/**********
Import/form/formFieldsetsMd.css
***********/
/*MD Form Error*/
div.requirederror label,
div.requirederror .label{
    background-image: url(../gif/errors.gif);
}
.summarydata .requirederror input{/*added for mobile, highlights errors in tables*/
    border-color: #FF0000;
}
.optiongroup .errored{/*.optiongroup - ex. real time payments*/
    background-image: url(../gif/errors.gif);
}
/**********
Import/form/formFormGroupMd.css
***********/
div.formGroup{
    border-color: #E7E7E7;
    background-color: #FFFFFF;
}
div.formGroupHighlight{
    border-color: #F1F1F1;
    background-color: #F1F1F1;
}
div.formGroupHighlight .entry,
div.formGroupHighlight .required,
div.formGroupHighlight .requirederror{
    border-bottom-color: #D8D8D8;
}
.formGroupHighlight .entrySelected{
    background-color: #FFFFFF;
}
.md .formGroup .hr{
    background-color: #A0C6EC;
}
.md div.entryError {
    color: #FF0000;
}
.disabled{
	color: #999999;
}

/**********
Import/brand/formsSF.jsp
***********/

/***********
Import/onlineGeneral.css
************/
/*Multiple member list*/
#MultiMember ul#Members li {
	background-image: url(../gif/globalmarker%24v%40201708050100.gif); 
}
#Welcome div.summarygroup,
#Welcome div.summarygroup table,
#Welcome div.summarygroup th,
#Welcome div.summarygroup td{
    background-color: #FFFFFF;
}
.md .summarygroup{
    background-color: #CDCDCD;
    border-color: #CDCDCD;
}
.summarygroup h1,
.summarygroup h1 a,
.summarygroup h3,
.summarygroup h3 a{
	background-color: #CDCDCD;
	border-color: #CDCDCD;
	color: #000000;
}
.summarygroup p.summarygroupHeaderLink,
.summarygroup p.summarygroupHeaderLink a{
	color: #000000;
}
.md .formData td{
	background-color: #FFFFFF;
}
/* MDSB */
.accountSummary li.transactions{
	background: url(../gif/bullet_yellow.gif) center left no-repeat;
}
.accountSummary li.messages{
	background: url(../gif/bullet_blue.gif) center left no-repeat;
}
/* eye icon in sortable column (introduced by E-Documents) */
span.iconViewable{ 
	background: url(../gif/eye.gif) top left no-repeat;
}
/***********
Import/onlineTransactionApproval.css
************/
/* MDSB pending transactions styles */
.transactionManager .collapsable .controlIcon{
    background: transparent url(../gif/bullet_arrow_down%24v%40201708050100.gif) left top no-repeat;
}
.transactionManager .collapsed .controlIcon{
    background: transparent url(../gif/bullet_arrow_right%24v%40201708050100.gif) left top no-repeat;  
}
/* mdsb transaction search*/
div.transactionSearch{
    background-color: #E0E0E0;
}
div.transactionSearch .entry{
    border-bottom-color: #3D3D3D;
}
.collapsableContent .transactionApprovals{
    border-color: #3D3D3D;
}
/***********
Import/onlineEnhancedPersonalMessages.css
************/
#Messages .epmExpiryWarning{
	color: #FF0000;
}
.enhancedPersonalMessage .messageExpiryNotice{
	color: #FF0000;
}
/***********
Import/online/onlineReceipt.css
************/
.receipts .receiptHeader{
    background-color: #CDCDCD;
    border-color: #CDCDCD;
    color: #000000;
}
.receipts .receipt{
	background-color: #FFFFFF;
	background-Image: url(../gif/success.gif);
	border-color: #CDCDCD;
}
.receipts .receiptFail{
    background-color: #f9e6e6;
	background-Image: url(../gif/fail.gif);
}
.receipts .receiptRecurring{
	background-color: transparent;
	background-Image: url(../gif/recurring.gif);
}
.receipts .receiptStop{
    background-color: transparent;
    background-image:url(../gif/stop.gif);
}
.receipt p.note {
	background-color: #EAEAEA;
}
/******
Import/login/loginIncreasedAuth.css
*******/
div.agreement {
	border-color: #003366;
}
.securitySeal .captionedImage{
	background-color: #0957A4;
    border-color: #003366;
}
/******
Import/online/onlineIncreasedAuth.css
*******/
.imageselector label.currentImage{
   background-color: #0957A4;
   border-color: #003366;
}
.imageselector .options{
	border-bottom-color: #003366;
	border-top-color: #003366;
}
.imageselector .input label{
   border-color: #003366;
}
.imageselector .input label.checked{
    background-color: #0957A4;
    border-color: #003366;
}
/*select 3 questions*/
.multicategoryselect .input dd li.checked{
	background-color: #0957A4;
}
/*confirmation*/
.confirm .imageSelect .captionedImage{
	background-color: #0957A4;
	border-color: #003366;
}
.confirm .challengeQuestions{
	border-bottom-color: #003366;
	border-top-color: #003366;
}
.confirm .challengeQuestions ul li {
	border-bottom-color: #003366;
}
.confirm .challengeQuestions ul dd{
	background-color: #0957A4;
}
.confirm .warning{ 
	background-color: #0957A4;
	border-color: #003366;
}
.confirm .imageandcaption{
	border-bottom-color: #003366;
}
.confirm .imageandcaption .important{
	border-bottom-color: #003366;
}
.confirm .permRegister{
    border-bottom-color: #003366;
}
/*****************************************
/Import/form/formCalendar.css (jQuery Calendar)
*****************************************/
#datepicker_div{
    font-family: inherit;
    background: #FFFFFF;
    border-color: #A5ACB2;
}
.datepicker_control{
    background-color: #CDCDCD; 
    color: #000000; 
}
.datepicker_control a,
.datepicker_control a:hover{
    color: #FFFFFF; 
}
.datepicker_links{
    background-color: #EDEDED; 
    color: #222222; 
}
.datepicker_links label{
    color: #A8A8A8; 
}
.datepicker_links a{
    color: #222222;
}
.datepicker_links a:hover{
    color: #222222; 
}
.datepicker_links .datepicker_current a{
    background-color: #EDEDED; 
    color: #222222; 
}
.datepicker_links .datepicker_current a:hover{
    color: #222222; 
}
.datepicker_header,
.datepicker_header select{
    background-color: #EDEEED; 
    color: #222222; 
}
.datepicker .datepicker_titleRow td{
    background-color: #EDEEED; 
    color: #222222;     
}
.datepicker .datepicker_titleRow td.datepicker_weekEndCell{
    background-color: #EDEEED; 
    color: #222222;     
}
.datepicker tbody td{
    background-color: #EDEEED; 
    border-color: #F1F1F1; 
    color: #222222;     
}
.datepicker tbody td.datepicker_weekEndCell{
    background-color: #EDEEED; 
    border-color: #F1F1F1; 
    color: #222222;     
}
.datepicker tbody td.datepicker_currentDay{
    background-color: #BFBFBC; 
    border-color: #F1F1F1; 
    color: #222222;     
}
.datepicker tbody td.datepicker_daysCellOver{
    background-color: #BFBFBC; 
    border-color: #A5ACB2; 
    color: #222222;     
}
.datepicker tbody td.datepicker_unselectable{
    background-color: #EDEDED; 
    border-color: #F1F1F1; 
    color: #A8A8A8;     
}
.datepicker tbody td.datepicker_today{
    background-color: #FFFFFF; 
    border-color: #A5ACB2; 
    color: #222222;     
}
.datepicker_status {
    background-color: #EDEEED;
    color: #222222;     
}
/*****************************************
For PFM datepicker
*****************************************/
#ui-datepicker-div{
    font-family: inherit;
    background-color: #FFFFFF;
    border-color: #A5ACB2;
}
.ui-datepicker-header,
.ui-datepicker-title select{
    background-color: #EDEEED; 
}
.ui-datepicker-calendar{
    background-color: #EDEEED; 
}
.ui-datepicker-calendar tbody td {
    border-color: #F1F1F1; 
}
.ui-datepicker-calendar tbody td:not(.ui-datepicker-unselectable):hover{
    background-color: #BFBFBC;
    border-color: #A5ACB2;
}
.ui-datepicker-calendar tbody td a{
    color: #222222;     
}
.ui-datepicker-unselectable, .ui-state-disabled{
    background-color: #EDEDED; 
    color: #A8A8A8;
}
.ui-datepicker-today{
    background-color: #BFBFBC;
}
.ui-datepicker-calendar tbody td a {
    text-decoration: none;   
}
.ui-datepicker-buttonpane{
    background-color: #CDCDCD; 
}
.ui-datepicker-buttonpane, .ui-datepicker-buttonpane button{
    background-color: #CDCDCD;
    color: #FFFFFF;
}
/******
/Import/online/onlineChequeImageDisplay.css
*******/
.md .chequeImagesGroup tr td.chequeImage{
    border-bottom-color: #FFFFFF;
}
/******
IOP Styles
*******/
.iop h1#PageTitle {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 5px;
}
/***********
Accessibility
************/
.md ul.skip,
.md ul.skip li {
    background-image: none;
}
.md ul.skip a {
    background-color: #FFFFFF;
    color: #3D3D3D;
}


/****
OIR Specific
****/
.md .oir > .LogosWUInterac {
background-image: url('../png/logoswuinterac.png');
background-position: right 0px;
background-repeat: no-repeat;
padding: 0px 0px 0px 0px;
height: 40px;
}

.md .Oir .arrowOpen::after {
content: "";
background: transparent url(../png/arrow_down.png) no-repeat scroll left top;
width: 10px;
height: 10px;
display: inline-block;
cursor: pointer;
margin-left: 4px;
}

.md .Oir .arrowClose::after {
content: "";
background: transparent url(../png/arrow_up.png) no-repeat scroll left top;
width: 10px;
height: 10px;
display: inline-block;
cursor: pointer;
margin-left: 4px;
}

.md .Oir .toggleOpen::before {
content: "";
background: transparent url(../png/toggle_down.png) no-repeat scroll left top;
width: 9px;
height: 9px;
display: inline-block;
cursor: pointer;
padding-right: 4px;
}

.md .Oir .toggleClose::before {
content: "";
background: transparent url(../png/toggle_up.png) no-repeat scroll left top;
width: 9px;
height: 9px;
display: inline-block;
cursor: pointer;
padding-right: 4px;
}

.interacLogoEMT {
background-image: url('https://www6.memberdirect.net/brand/celero_saskcentralCF/DynamicContent/Resources/Images/EMT/interacLogo.svg');
background-repeat: no-repeat;
height: 32px;
width: 128px;
position: absolute;
transform: translate(342%, -25%);
}


/***********
Import/common/actions.css
************/
.md .actions_dropdown{
    background-color: #EAEAEA;
    border-color: #CCC;
}
.actions_dropdown a:hover{
    background-color: #FFF;
}
/***********
Import/common/bars.css
************/
.md .bar_background{
    background-color: #003366;
    color: #FFFFFF;
}
/***********
Import/common/progressBar.css
************/
.progressBarContainer{
    color: #333333;
    border-color: transparent;
    background-color: transparent;
}
.progressBarContainer_over .progressBar{
    border-color: #EF8885;
    background-color: #EF8885;
}
.progressBarContainer_under .progressBar{
    border-color: #A9D283;
    background-color: #A9D283;
}
.progressBarContainer_near .progressBar{
    border-color: #F0E38B;
    background-color: #F0E38B;
}
.progressBarContainer_negative .progressBar{
	background-color: transparent
}
/***********
Import/common/buttons.css
************/
.md .btn{
    background-color: #EAEAEA;
    border-color: #CCCCCC;
    color: #000000;
}
.md .btn_gradient{
    background-image: -moz-linear-gradient(top, rgb(247,247,247) 25%, rgb(208,208,208) 100%);
    background-image: -ms-linear-gradient(top, rgb(247,247,247) 25%, rgb(208,208,208) 100%);
    background-image: -o-linear-gradient(top, rgb(247,247,247) 25%, rgb(208,208,208) 100%);
    background-image: -webkit-linear-gradient(top, rgb(247,247,247) 25%, rgb(208,208,208) 100%);
    background-image: linear-gradient(top, rgb(247,247,247) 25%, rgb(208,208,208) 100%);
}
.md .btn_icon{
    background-image: url(../png/icons_matrix%24v%40201708050100.png);
}
.md .btn_cta{
    background-color: #EAEAEA;
    border-color: #EAEAEA;
    color: #333333;
}
.md .btn_cta:hover{
    background-color: #EAEAEA;
    border-color: #EAEAEA;
}
.md .btn_cta_primary{
    background-color: #3D3D3D;
    border-color: #3D3D3D;
    color: #FFFFFF;
}
.md .btn_cta_primary:hover{
    background-color: #3D3D3D;
    border-color: #3D3D3D;
}
/***********
Import/common/headings.css
************/
.md .heading_split{
    border-bottom-color: #ABABAB;
}
/***********
Import/common/modal.css
************/
.md .modal{
    background-color: #FFFFFF;
    border-color: #BABABA;
}
.md .modal_noChrome{
    border-color: #444444;
}
.md .overlay_decorator{
    background-color: #FFFFFF;
}
.md .dialog{
    border-color: #BABABA;
}
.md .modal_close{
    background-image: url(../png/icons_matrix%24v%40201708050100.png);
}
.md div .selectedBox {
	border: 2px solid #BBBBBB;
}
.md .modal .modal_heading{
	border-bottom: 1px solid #CCCCCC;
}
/***********
Import/common/tips.css
************/
.md .tip{
    background-color: #ffffdd;
    -webkit-box-shadow: #000000;
    box-shadow: #000000;
}
.md .tip:before{
    background-image: url(../png/widgettiparrow%24v%40201708050100.png);
}
div.contentCallout {
    background-color: #EBEBEB;
    background-image: -moz-linear-gradient(top, #EBEBEB, #EBEBEB);
    color: #696969;
}
div.contentCallout.bottom::before {
    border-top: 10px solid #EBEBEB;
}
div.contentCallout.top::before {
    border-bottom: 10px solid #EBEBEB;
}
div.contentCallout.right::before {
    border-left: 10px solid #EBEBEB;
}
div.contentCallout.left::before {
    border-right: 10px solid #EBEBEB;
}
div.contentCallout.bottom-left::before {
    border-top: 10px solid #EBEBEB;
}
div.contentCallout.bottom-right::before {
    border-top: 10px solid #EBEBEB;
}
div.contentCallout.top-left::before {
    border-bottom: 10px solid #EBEBEB;
}
div.contentCallout.top-right::before {
    border-bottom: 10px solid #EBEBEB;
}
div.contentCallout.right-bottom::before {
    border-left: 10px solid #EBEBEB;
}
div.contentCallout.right-top::before {
    border-left: 10px solid #EBEBEB;
}
div.contentCallout.left-bottom::before {
    border-right: 10px solid #EBEBEB;
}
div.contentCallout.left-top::before {
    border-right: 10px solid #EBEBEB;
}
/***********
Import/common/containerTreatments.css
************/
div.contentColumns{
    color: #333333;
}
div.contentColumnsBackground{
    background-color: #EAEAEA;
    color: #333333;
}
div.contentColumnsBorder{
    border-color: #E0E0E0;
}
div.contentColumnsBackgroundImage{
    background-image: url(../gif/contentcolumn_bg%24v%40201708050100.gif);
}
div.contentColumnsBackgroundImage_rightTop{
    background-position: 100% 0;
}
div.contentColumnsBackgroundImage_leftTop{
    background-position: 0 0;
}
div.contentColumnsBackgroundImage_verticalRepeat{
    background-repeat: repeat-y;
}
div.contentColumnsBackgroundImage_horizontalRepeat{
    background-repeat: repeat-x;
}
div.contentColumnsBackgroundImage_noRepeat{
    background-repeat: no-repeat;
}
/***********
Import/common/contentTreatment.css
************/
.md .positive .value{
    color: #027C02;
}
.md .negative .value{
    color: #D50000;
}
.md .subduedText_color{
    color: #777777;
}
.md a.noLinkAnchor {
	color: inherit;
	cursor: default;
}
/***********
Import/common/contentTabs.css
************/
.md .contentTabsContainer,
.md .contentTabsContainerFaked,
.contentTabsContainer .contentTabs,
.contentTabsContainerFaked .contentTabs{
    border-bottom-color: #333333;
}
.tabify_decor_image .tabify_menu_container,
.tabify_decor_image.tabify_vertical .tabify_content_frame{
    border-color: #333333;
}
.tabify_decor_border .tabify_tab_content{
    background-color: #EEEEEE;
}
.tabify_decor_border .tabify_tab_active .tabify_tab_content,
.tabify_decor_border .tabify_content_frame{
    background-color: #FFFFFF;   
}
.tabify_decor_border .tabify_tab_content,
.tabify_decor_border .tabify_menu_container,
.tabify_decor_border .tabify_content_frame{
    border-color: #CCCCCC;
}
.contentTabs a,
.contentTabs span,
.tabify .tabify_tab_label,
.tabify .tabify_tab_label_text{
    color: #3D3D3D;
}
.contentTabs a,
.contentTabs span,
.tabify_decor_image .tabify_tab_label,
.tabify_decor_image .tabify_tab_label_text{
    background-image: url(../gif/contenttabs%24v%40201708050100.gif);
}
.contentTabs .current a,
.tabify_tab_active .tabify_tab_label,
.tabify_tab_active .tabify_tab_label_text{
    color: #3D3D3D;
}
.Form .contentTabs a,
.Form .contentTabs span,
.Form .tabify_tab_label,
.Form .tabify_tab_label_text{
    color: #3D3D3D;
}
.Form .contentTabs a,
.Form .contentTabs span,
.Form .tabify_decor_image .tabify_tab_label,
.Form .tabify_decor_image .tabify_tab_label_text{
    background-image: url(../gif/contenttabs%24v%40201708050100.gif);
}
.Form .contentTabs .current a,
.Form .tabify_tab_active .tabify_tab_label,
.Form .tabify_tab_active .tabify_tab_label_text{
    color: #3D3D3D;
}
.Online .contentTabs a,
.Online .contentTabs span,
.Online .tabify_menu .tabify_tab_label,
.Online .tabify_menu .tabify_tab_label_text{
    color: #3D3D3D;
}
.Online .contentTabs a,
.Online .contentTabs span,
.Online .tabify_decor_image .tabify_tab_label,
.Online .tabify_decor_image .tabify_tab_label_text{
    background-image: url(../gif/contenttabs%24v%40201708050100.gif);
}
.Online .contentTabs .current a,
.Online .tabify_tab_active .tabify_tab_label,
.Online .tabify_tab_active .tabify_tab_label_text{
    color: #3D3D3D;
}
.tabify_decor_image.tabify_vertical .tabify_tab_label,
.tabify_decor_image.tabify_vertical .tabify_tab_label_text{
    background-image: url(../gif/contenttabsvertical%24v%40201708050100.gif);
}
.tabify_decor_image.tabify_vertical.tabify_opposed .tabify_tab_label,
.tabify_decor_image.tabify_vertical.tabify_opposed .tabify_tab_label_text{
    background-image: url(../gif/contenttabsvertical%24v%40201708050100.gif);
}

/***********
Import/common/icons.css
************/
/*Icons - When used as Image Replacement*/
.md .icon_withLabel_lower,
.md .icon_none,
.md .icon_success,
.md .icon_alert,
.md .icon_lock,
.md .icon_news,
.md .icon_plus:before,
.md .icon_plus:after,
.md .icon_repeat:before,
.md .icon_repeat:after,
.md .icon_complete:before,
.md .icon_info:before,
.md .icon_warning:before,
.md .icon_error:before,
.md .icon_close,
.md .icon_repeat,
.md .icon_payment,
.md .icon_transfer,
.md .icon_config{
    background-image: url(../png/icons_matrix%24v%40201708050100.png);
}
/***********
Import/common/lists.css
************/
ul.iconChecklist {
    list-style-image: url(../gif/success%24v%40201708050100.gif);
}
ul.iconChecklist_tick{
    list-style-image: url(../gif/success.gif);
}
/***********
Import/common/toggles.css
************/
.md .toggle_tip,
.md .toggle_errortip,
.md .toggle_visibility a,
.md .toggle_chart a{
    background-image: url(../png/icons_matrix%24v%40201708050100.png);
}
.md .toggle_errortip{
    color: #990000;
}
/******
Import/portlet/portletOnlineDetails.jsp
*******/
.Online .portlets .online_details{
	background-color: transparent;
	border-color: #ABABAB;
	color: #333333;
}
.Online .portlets .online_details a{
	color: #3D3D3D;
}
.Online .portlets .online_details a:hover{
	color: #3D3D3D;
}
.Online .portlets .online_details h2{
	color: #333333;
}
.Online .portlets .online_details .label_color{
	color: #333333;
}
/*****
Short Call to action
******/
.md .Component-ShortCallToAction a {
    background-color: #E0E0E0;
    background-image: url(../gif/bullet_arrow_right.gif);
    background-position: 2px 7px;
}
/*****
Button Button - Note other components use this component with variations
******/
.md .Component-Button a {
    color: #FFFFFF;
    background-color: #3D3D3D;
}
.md .Component-Button a:hover {
    color: #FFFFFF;
    background-color: #898989;
}
/*****
New Rate as Component-RatesTable
.Component-RatesTable large and compact
.Component-RatesTableCompact only compact
******/
.md .Component-RatesTable tr.even td,
.md .Component-RatesTable tr.odd td,
.md .Component-RatesTable tr.even th,
.md .Component-RatesTable tr.odd th{
    color: #333333;
    background-color: #F5F5F5;
}
.md .Component-RatesTable table.rates,
.md .Component-RatesTable table.rates td,
.md .Component-RatesTable table.rates th{
    border-color: #FFFFFF;
}
.md .Component-RatesTableCompact table.rates th{
    background-color: #FFFFFF;
    color: #333333;
}
.md .Component-RatesTableCompact tr.even td,
.md .Component-RatesTableCompact tr.odd td,
.md .Component-RatesTableCompact tr.even th,
.md .Component-RatesTableCompact tr.odd th{
    background-color: #FFFFFF;
}
/*****
Global Warning style
******/
.md div.globalWarning{
    border-color: #D79105;
}
/*****
Core Branding Styles 
******/
.brand-canvas-background { background-color: #FFFFFF; }
.brand-canvas-background-override { background-color: #FFFFFF !important; }
.brand-page-background { background-color:  #FFFFFF; }
.brand-page-background-override { background-color:  #FFFFFF !important; }
.brand-text { color: #333333; }
.brand-text-override { color: #333333 !important; }

.brand-primary-color1-text { color: #3D3D3D; }
.brand-primary-color1-text-override { color: #3D3D3D !important; }
.brand-primary-color1-background {  background-color: #3D3D3D; }
.brand-primary-color1-background-override {  background-color: #3D3D3D !important; }
.brand-primary-color1-border { border-color: #3D3D3D; }
.brand-primary-color1-border-override { border-color: #3D3D3D !important; }

.brand-primary-color2-text { color: #E0E0E0; }
.brand-primary-color2-text-override { color: #E0E0E0 !important; }
.brand-primary-color2-background {  background-color: #E0E0E0; }
.brand-primary-color2-background-override {  background-color: #E0E0E0 !important; }
.brand-primary-color2-border { border-color: #E0E0E0; }
.brand-primary-color2-border-override { border-color: #E0E0E0 !important; }

.brand-primary-color3-text { color: #EFEFEF; }
.brand-primary-color3-text-override { color: #EFEFEF !important; }
.brand-primary-color3-background {  background-color: #EFEFEF; }
.brand-primary-color3-background-override {  background-color: #EFEFEF !important; }
.brand-primary-color3-border { border-color: #EFEFEF; }
.brand-primary-color3-border-override { border-color: #EFEFEF !important; }

.brand-primary-color4-text { color: #D2D2D2; }
.brand-primary-color4-text-override { color: #D2D2D2 !important; }
.brand-primary-color4-background {  background-color: #D2D2D2; }
.brand-primary-color4-background-override {  background-color: #D2D2D2 !important; }
.brand-primary-color4-border { border-color: #D2D2D2; }
.brand-primary-color4-border-override { border-color: #D2D2D2 !important; }

.brand-primary-color5-text { color: #ACACAC; }
.brand-primary-color5-text-override { color: #ACACAC !important; }
.brand-primary-color5-background {  background-color: #ACACAC; }
.brand-primary-color5-background-override {  background-color: #ACACAC !important; }
.brand-primary-color5-border { border-color: #ACACAC; }
.brand-primary-color5-border-override { border-color: #ACACAC !important; }

.brand-primary-color6-text { color: #EAEAEA; }
.brand-primary-color6-text-override { color: #EAEAEA !important; }
.brand-primary-color6-background {  background-color: #EAEAEA; }
.brand-primary-color6-background-override {  background-color: #EAEAEA !important; }
.brand-primary-color6-border { border-color: #EAEAEA; }
.brand-primary-color6-border-override { border-color: #EAEAEA !important; }

.brand-primary-color7-text { color: #FFFFFF; }
.brand-primary-color7-text-override { color: #FFFFFF !important; }
.brand-primary-color7-background {  background-color: #FFFFFF; }
.brand-primary-color7-background-override {  background-color: #FFFFFF !important; }
.brand-primary-color7-border { border-color: #FFFFFF; }
.brand-primary-color7-border-override { border-color: #FFFFFF !important; }

.brand-secondary-color1-text { color: #898989; }
.brand-secondary-color1-text-override { color: #898989 !important; }
.brand-secondary-color1-background {  background-color: #898989; }
.brand-secondary-color1-background-override {  background-color: #898989 !important; }
.brand-secondary-color1-border { border-color: #898989; }
.brand-secondary-color1-border-override { border-color: #898989 !important;}

.brand-secondary-color2-text { color: #747474; }
.brand-secondary-color2-text-override { color: #747474 !important; }
.brand-secondary-color2-background {  background-color: #747474; }
.brand-secondary-color2-background-override {  background-color: #747474 !important; }
.brand-secondary-color2-border { border-color: #747474; }
.brand-secondary-color2-border-override { border-color: #747474 !important; }

.brand-secondary-color3-text { color: #DBDBDB; }
.brand-secondary-color3-text-override { color: #DBDBDB !important; }
.brand-secondary-color3-background {  background-color: #DBDBDB; }
.brand-secondary-color3-background-override {  background-color: #DBDBDB !important; }
.brand-secondary-color3-border { border-color: #DBDBDB; }
.brand-secondary-color3-border-override { border-color: #DBDBDB !important; }

.brand-secondary-color4-text { color: #F5F5F5; }
.brand-secondary-color4-text-override { color: #F5F5F5 !important; }
.brand-secondary-color4-background {  background-color: #F5F5F5; }
.brand-secondary-color4-background-override {  background-color: #F5F5F5 !important; }
.brand-secondary-color4-border { border-color: #F5F5F5; }
.brand-secondary-color4-border-override { border-color: #F5F5F5 !important; }

.brand-secondary-color5-text { color: #FFFFFF; }
.brand-secondary-color5-text-override { color: #FFFFFF !important; }
.brand-secondary-color5-background {  background-color: #FFFFFF; }
.brand-secondary-color5-background-override {  background-color: #FFFFFF !important; }
.brand-secondary-color5-border { border-color: #FFFFFF; }
.brand-secondary-color5-border-override { border-color: #FFFFFF !important; }

.brand-secondary-color6-text { color: #EEEEEE; }
.brand-secondary-color6-text-override { color: #EEEEEE !important; }
.brand-secondary-color6-background {  background-color: #EEEEEE; }
.brand-secondary-color6-background-override {  background-color: #EEEEEE !important; }
.brand-secondary-color6-border { border-color: #EEEEEE; }
.brand-secondary-color6-border-override { border-color: #EEEEEE !important; }

.brand-table-border { border-color: #3D3D3D; }
.brand-table-border-override { border-color: #3D3D3D !important; }
.brand-table-row-background { background-color: #FFFFFF; }
.brand-table-row-background-override { background-color: #FFFFFF !important; }
.brand-table-row-alt-background { background-color: #F5F5F5; }
.brand-table-row-alt-background-override { background-color: #F5F5F5 !important; }
.brand-table-row-selected-background { background-color: #E0E0E0; }
.brand-table-row-selected-background-override { background-color: #E0E0E0 !important; }
.brand-table-header-text { color: #333333; }
.brand-table-header-text-override { color: #333333 !important; }
.brand-table-header-background { background-color: #ABABAB;}
.brand-table-header-background-override { background-color: #ABABAB !important; }

/*----------------------------------- Wicket AutoComplete Styles -----------------------------*/
div.wicket-aa-container {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px;
    z-index: 3000 !important;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.wicket-aa {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 2px 0 2px 0;
    text-align: left;
}

div.wicket-aa ul {
    list-style: none outside none;
    margin: 0;
    padding: 2px 0;
}

div.wicket-aa ul li {
    padding: 2px;
}

div.wicket-aa ul li.selected {
    background-color: #F1F1F1;
    /*margin: 0 0 5px;*/
}

/* end wicket autocomplete styles */

/*Design Scheme=null */