/**********************************************************

 *                                                        *

 *  Copyright ©2005  Corillian Corporation                *

 *                                                        *

 *  All rights reserved.                                  *

 *                                                        *

 *  Highly Confidential.                                  *

 *                                                        *

 *  No portion of this code may be reproduced,            *

 *  transmitted or distributed without the express        *

 *  written permission of Corillian Corporation.          *

 *                                                        *

 **********************************************************/



/**********************************************************

 *                                                        *

 *  HTML ENTITIES                                         *

 *                                                        *

 **********************************************************/



body,

input,

input *,

select,

select *,

table.radioButtonList,

table.radioButtonList * {

	font-family: Arial;

	font-size:12px;

	color:#333;  

}





h2{

	font-size: medium;

}



h3{

	font-size: large;

}



/**********************************************************

 *                                                        *

 *  GENERAL                                               *

 *                                                        *

 **********************************************************/





/**********************************************************

 *                                                        *

 *  HEADER                                                *

 *                                                        *

 **********************************************************/



div.favoritesContainer{

	font-size: x-small;

}



div.favoritesContainer *{

	font-size: x-small;

}



div.lastLoginMessage{

	font-family:Arial;

 	font-size:12px;

 	color:#444444; 

}



div.logo{
	width: 289px;
	height: 25px;
	padding: 24px 10px 15px 10px;

}



/**********************************************************

 *                                                        *

 *  FOOTER                                                *

 *                                                        *

 **********************************************************/





/**********************************************************

 *                                                        *

 *  ERRORS/VALIDATION                                     *

 *                                                        *

 **********************************************************/





/**********************************************************

 *                                                        *

 *  NAVIGATION                                            *

 *                                                        *

 **********************************************************/





/**********************************************************

 *                                                        *

 *  TABLES                                                *

 *                                                        *

 **********************************************************/





/**********************************************************

 *                                                        *

 *  WORKSPACE                                             *

 *                                                        *

 **********************************************************/
